.container {
  margin: 0 auto;
  padding: 40px 20px;

  @media (min-width: $tablet) {
    padding: 55px 50px;
  }

  @media (min-width: $desktop) {
    padding: 70px 100px;
  }

  @media (min-width: $laptop) {
    padding: 85px 120px;

  }
}
