// Цвета

$black: black;
$white: white;
$whitesmoke: whitesmoke;
$blue: #38BCEA;
$darkblue: #12354b;
$grey1: #fbfbfb;
$grey2: #f7f8fa; // Карточки врачей
$grey3: #f2f3f5; // Для футера

// Переходы

$t05: 0.5s;
$t07: 0.7s;

// Прозрачность

$op06: 0.6;


// Дисплеи

$tablet: 768px;
$desktop: 1280px;
