.main-footer {
  font-size: 15px;
  border-top: 1px solid $blue;
}

.main-footer__links {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.main-footer__link {
  text-decoration: none;
  color: $blue;
  transition: $t03;

  &:hover {
    opacity: $op06;
  }
}

.main-footer__info {
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  @media (min-width: $tablet) {
    row-gap: 15px;
  }

  @media (min-width: $desktop) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

.main-footer__search {
  font-weight: bold;
  margin-top: 15px;

  @media (min-width: $tablet) {
    margin-top: 20px;
  }

  @media (min-width: $desktop) {
    flex-basis: 100%;
    margin-top: 25px;
  }
}

.main-footer__geo-info {
  display: flex;
  flex-direction: column;
  row-gap: 5px;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop) {
    column-gap: 25px;
  }
}

.main-footer__location {
  position: relative;
  padding: 5px 5px 5px 35px;

  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 30px;
    height: 30px;
    background-image: url('/img/icons/geo.svg');
    background-repeat: no-repeat;
    background-size: contain;

    @media (min-width: $tablet) {
      top: 10px;
    }
  }
}

.main-footer__phone {
  text-decoration: none;
  color: $blue;
  transition: $t03;

  &:hover {
    opacity: $op06;
  }
}

.main-footer__dev {
  font-size: 13px;
  line-height: 16px;
  color: $grey;
  display: block;
  width: max-content;
  margin: 10px auto 0 auto;

  @media (min-width: $desktop) {
    margin: 0 0 0 auto;
  }
}
