.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $white;
  padding: 15px 20px;
  border-bottom: 1px solid $blue;
  z-index: 2;
}

.main-nav__logo {
  display: block;
  width: 40px;
  height: 40px;
  background-image: url("/src/icons/logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.main-nav__dental {
  font-size: 22px;
}

.main-nav__nav-list {
  position: absolute;
  top: 71px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  height: 85vh;
  background-color: $white;
  padding: 120px 0;
  list-style: none;
  transform: scale(0);
  opacity: 0;
  transition: $t05;

  &+.main-nav__button {
    .main-nav__button-elem {
      &:nth-of-type(1) {
        animation: ease 0.5s topClose forwards;
      }

      &:nth-of-type(2) {
        animation: ease 0.5s mdlClose forwards;
      }

      &:nth-of-type(3) {
        animation: ease 0.5s btmClose forwards;
      }
    }
  }

  &--open {
    transform: scale(1);
    opacity: 1;

    &+.main-nav__button {
      .main-nav__button-elem {
        &:nth-of-type(1) {
          animation: ease 0.5s topOpen forwards;
        }

        &:nth-of-type(2) {
          animation: ease 0.5s mdlOpen forwards;
        }

        &:nth-of-type(3) {
          animation: ease 0.5s btmOpen forwards;
        }
      }
    }
  }
}

.main-nav__nav-link {
  font-size: 20px;
  text-decoration: none;
  color: $black;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  transition: $t05;
  padding: 15px 30px;

  &:hover {
    color: $white;
    background-color: $blue;

    &::before {
      transition: $t05;
      background-color: $white;
    }
  }

  &::before {
    content: "";
    position: absolute;
    left: -5px;
    top: 25px;
    background-color: $blue;
    height: 1px;
    width: 25px;
  }
}

.main-nav__button {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
  width: 35px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.main-nav__button-elem {
  position: relative;
  display: block;
  background-color: $blue;
  width: 100%;
  height: 3px;
  border-radius: 3px;
}
